 <div class="horizontal-menu">
        <ul class="horizontal-menu-ul"> <li><big>@Html.ActionLink(Resource.TelephoneList, "PhoneNumbersOfStaff", "Home")</big> </li> 
        <li class="active"><big>@Html.ActionLink(Resource.ViewGroupLink, "LoadOfGroup", "Home") </big></li> 
        <li> <big>@Html.ActionLink(Resource.StatisticsLink, "StatisticsOfGroup", "Home")</big></li> 
        <li><big> @Html.ActionLink(Resource.StatusLink, "StatusCRM", "Home")</big></li> </ul>
 </div>
