 <div class="horizontal-menu">
        <ul class="horizontal-menu-ul"> <li><big>@Html.ActionLink("Список телефонов сотрудников группы БТП", "PhoneNumbersOfStaff", "Home")</big> </li> 
        <li class="active"><big>@Html.ActionLink("Посмотреть загрузку группы БТП", "LoadOfGroup", "Home") </big></li> 
        <li> <big>@Html.ActionLink("Статистика по задачам группы БТП", "StatisticsOfGroup", "Home")</big></li> 
        <li><big> @Html.ActionLink("Узнать статус выполнения задачи в CRM", "StatusCRM", "Home")</big></li> </ul>
 </div>
