@model Dunfoss.Models.User

@Html.ActionLink("Выход", "Logout", "Home", new { area = "" }, new { @class = "login-link menu-link", @id = "menu-item" })
<span style="float:right; color:white;margin-top:15px; margin-right: 10px;">@Model.Name</span>