<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
@{
    ViewBag.Title = "ChartFormatting";
}
<div class="chart-options">
    @using (Ajax.BeginForm("ChartDraw", "Chart", new { filename = ViewBag.Filename }, new AjaxOptions { UpdateTargetId = "chart-draw" }))
    {
        <span>Тип графика</span>
        <select id="chartNumber" name="chartNumber">
            <option value="1" selected>Новыу расчеты БТП</option>
            <option value="2">Корректировки расчетов</option>
            <option value="3">Новые расчеты и корректировки БТП</option>
            <option value="4">Причины просроченных задач</option>
            <option value="5">Причины корректировок</option>
            <option value="6">Расчеты БТП по дивизионам</option>
            <option value="7">Заказы БТП</option>
            <option value="8">Скорость закрытия задач по расчетчикам</option>
        </select>
        <br />
        <div id="FilterType">
            <span>Фильтрация: </span>
            <select id="filterType" name="filterType" class="option-chart-filter">
                <option value="1" selected>По месяцам</option>
                <option value="2">По неделям</option>
            </select>
        </div>
        <div id="WeekFilter" style="display: none;" class="option-chart-filter">
            <span class="chart-options-opt">Фильтрация по неделям: с</span><input type="number" value="1" max="52" min="1" name="min" />
            <span> по </span><input type="number" value="52" max="52" min="1" name="max" />
            <br />
        </div>
        <div id="MonthFilter" class="option-chart-filter">

            <span>
                C:
                <select id="chartNumber" name="minMonth">
                    <option value="1" selected>Январь</option>
                    <option value="2">Февраль</option>
                    <option value="3">Март</option>
                    <option value="4">Апрель</option>
                    <option value="5">Май</option>
                    <option value="6">Июнь</option>
                    <option value="7">Июль</option>
                    <option value="8">Август</option>
                    <option value="9">Сентябрь</option>
                    <option value="10">Октябрь</option>
                    <option value="11">Ноябрь</option>
                    <option value="12">Декабрь</option>
                </select>
            </span>
            <br />
            <br />
            <span>
                По:
                <select id="chartNumber" name="maxMonth">
                    <option value="1">Январь</option>
                    <option value="2">Февраль</option>
                    <option value="3">Март</option>
                    <option value="4">Апрель</option>
                    <option value="5">Май</option>
                    <option value="6">Июнь</option>
                    <option value="7">Июль</option>
                    <option value="8">Август</option>
                    <option value="9">Сентябрь</option>
                    <option value="10">Октябрь</option>
                    <option value="11">Ноябрь</option>
                    <option value="12" selected>Декабрь</option>
                </select>
            </span>
            <br />
        </div>
        <div id="MonthNumber" style="display: none;" class="option-chart-filter">
            <span>
                Месяц:
                <select id="chartNumber" name="month">
                    <option value="1" selected>Январь</option>
                    <option value="2">Февраль</option>
                    <option value="3">Март</option>
                    <option value="4">Апрель</option>
                    <option value="5">Май</option>
                    <option value="6">Июнь</option>
                    <option value="7">Июль</option>
                    <option value="8">Август</option>
                    <option value="9">Сентябрь</option>
                    <option value="10">Октябрь</option>
                    <option value="11">Ноябрь</option>
                    <option value="12">Декабрь</option>
                </select>
            </span>
            <br />
        </div>
        <div id="Division" style="display: none;" class="option-chart-filter">
            <span>Дивизионы :</span>
            <select id="division" name="division">
                <option>Все</option>
                <option>Юг</option>
                <option>Дальний Восток</option>
                <option>Западная Сибирь</option>
                <option>Северо-Запад</option>
                <option>Урал</option>
                <option>Москва</option>
                <option>Поволжье</option>
                <option>Центр</option>
            </select>
            <br />
        </div>
        <div id="FilterType7" style="display: none;" class="option-chart-filter">
            @Html.RadioButton("tp", "номера", true)<span>По кол-ву задач</span><br />
            @Html.RadioButton("tp", "задачи")<span>По кол-ву кодовых номеров</span><br />
        </div>
        <div class="chart-options-submit"><input type="submit" value="Построить" /></div>

    }

</div>
<script type="text/javascript">
    $("#chartNumber").change(function () {
        if ($(this).val() == 1 || $(this).val() == 2 || $(this).val() == 3) {
            Chart13();
        }
        else if ($(this).val() == 4 || $(this).val() == 5) {
            Chart45();
        }
        else if ($(this).val() == 6) {
            Chart6();
        }
        else if ($(this).val() == 7) {
            Chart7();
        }
        else if ($(this).val() == 8) {
            Chart8();
        }
    });
    $("#filterType").change(function () {
        if ($(this).val() == 2) {
            Week();
        }
        else {
            Month();
        }
    });
    function Chart13(){
        CloseAll();
        $("#FilterType").show();
        if ($("#filterType").val() == 2) {
           Week();
        }
        else {
            Month();
        }
    }
    function Chart45() {
        CloseAll();
        $('#WeekFilter').show();
    }
    function Chart6() {
        CloseAll();
        $('#Division').show();
        Month();
    }
    function Chart7() {
        CloseAll();
        $('#FilterType7').show();
        $('#FilterType').show();
        $("#Division").show();
        if ($("#filterType").val() == 2) {
            Week();
        }
        else {
            Month();
        }
    }
    function Chart8() {
        CloseAll();
        $('#FilterType').show();
        if ($("#filterType").val() == 2) {
            Week();
        }
        else {
            Month();
        }
    }
    function Week() {
        $('#MonthFilter').hide();
        $('#WeekFilter').show();
    }
    function Month() {
        $('#WeekFilter').hide();
        $('#MonthFilter').show();
    }
    function CloseAll() {
        $("#FilterType").hide();
        $("#WeekFilter").hide();
        $("#MonthFilter").hide();
        $("#MonthNumber").hide();
        $("#Division").hide();
        $("#FilterType7").hide();
    }
</script>
<div id="chart-draw" class="chart-draw">

</div>

