@model System.Linq.IQueryable<Dunfoss.Models.Report>
    @{
        foreach (Dunfoss.Models.Report report in Model)
        {
            <div class="remove">
                @using (Ajax.BeginForm("Remove", "Report", new { id = report.Id }, new AjaxOptions { UpdateTargetId = "report-list-div" }))
                {
                    <input type="submit" value="" />
                }
                <a href="/Report/GetReportById/?id=@report.Id">@report.Date.Day<span>.</span>@report.Date.Month<span>.</span>@report.Date.Year @report.Date.Hour:@report.Date.Minute</a>

                
            </div>
        }
    }

<style>
    .remove a{
        margin-left: 10px;
    }
    .remove input{
        margin-top: 3px;
        border:none;
        background-image: url("/Images/rem.png");
        background-color: transparent;
        float: left;
        width: 15px;
        height: 15px;
    }
</style>